#divMaisExterna{
  background-color: rgba(0,0,0,0.5);
  text-align: center
}
#painel-todos {
    margin-top: 20px;
}

#botao-menu {
    margin-top: 500px;
}

h1{
    color: #fff;
}

body{
    background-image: url(../images/FundoCasaAzul.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
}