#divMaisExterna{
/*  
    background-image: url("../images/planodefundo.png") ;
    background-size: cover;
    */
    width:1024px;
    height:1280px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
/*    border-radius: 10px; */
}