#divMaisExterna{
  background-color: rgba(0,0,0,0.5);
  text-align: center
}
#painel-todos {
    margin-top: 20px;
}

#botao-menu {
    margin-top: 500px;
}

#painel-configuracao{
    align-items: flex-start;
    color: #fff;
}

#editar-casa{
    align-self: flex-start;
    align-items: flex-start;
}


h1{
    color: #fff;
}

body{
    background-image: url(../images/SalaEsverdeada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
}