<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Casa</servlet-name>
        <servlet-class>com.brunogomesreis.trabalhopa2_v2.ajaxComJSON.Casa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ambientes</servlet-name>
        <servlet-class>com.brunogomesreis.trabalhopa2_v2.ajaxComJSON.Ambientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispositivos</servlet-name>
        <servlet-class>com.brunogomesreis.trabalhopa2_v2.ajaxComJSON.Dispositivos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Casa</servlet-name>
        <url-pattern>/casa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ambientes</servlet-name>
        <url-pattern>/Ambientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispositivos</servlet-name>
        <url-pattern>/Dispositivos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
